torch
Django
keras
numpy
opencv_python
pandas
Pillow
scikit_image
scipy
tensorflow-cpu
joblib
gunicorn
scikit-learn
whitenoise
absl-py
asgiref
astunparse
cachetools
certifi
charset-normalizer
click
colorama
dj-database-url
django-cors-headers
django-heroku
djangorestframework
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
libclang
Markdown
mysqlclient
oauthlib
opt-einsum
rsa
six
sqlparse
termcolor
typing-extensions
urllib3
